@import '@styles/variables';

.financial-stack {
  border-top: 1px solid $vapor;
  margin-top: 20px;
  padding-top: 10px;
  font-size: 14px;

  .line {
    display: flex;
    justify-content: space-between;
  }
  .total {
    color: $dark-grey;
    border-top: 1px solid $vapor;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 700;
  }
}
