@import '@styles/variables';

.item {
  display: flex;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 25px;
}

.image {
  position: relative;

  img {
    border: 1px solid $vapor;
    border-radius: $border-radius;
    overflow: hidden;
    width: 60px;
    height: 60px;
  }
}

.qty {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background: $ada-grey;
  border-radius: 50%;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 1;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 20px;

  a {
    font-size: 12px;
    font-weight: 700;
    color: $navy-blue;
  }
}
