@import '@styles/variables';
@import 'bootstrap/scss/mixins/breakpoints';

.payment-form {
  h2 {
    margin: 0;

    & + p {
      font-size: 14px;
      margin: 0 0 16px;
    }
  }
}
.form-container {
  border: 1px solid $vapor;
  border-radius: $border-radius-sm;
}
.accepted-cards {
  display: inline-flex;
  gap: 10px;
  padding: 16px;

  svg {
    width: 32px;
    height: 20px;
  }
}
.run-form {
  border-top: 1px solid $vapor;
  background-color: $almost-white;
  padding: 8px 8px 0;

  .input-group {
    display: flex;
    flex-direction: column;
    padding: 12px 8px;

    label {
      font-size: 14px;
      font-family: sans-serif;
      margin-bottom: 6px;
    }
    input {
      border: 1px solid $border-blue;
      border-radius: $border-radius-sm;
      padding: 14px 12px;
      font-size: 16px;
      line-height: 1;
      font-family: sans-serif;
    }
  }
  iframe {
    width: 100%;
    height: 280px;
  }
}
.note {
  color: $ada-grey;
  font-size: 12px;
  margin: 16px 0 20px;

  a {
    color: $navy-blue;
    font-weight: 700;
    text-decoration: none;
    margin-left: 4px;
  }
}
.pay-button {
  width: 100%;
  font-size: 18px;
  line-height: 1.6;
  padding: 10px 16px;

  @include media-breakpoint-up(lg) {
    font-size: 25px;
    padding: 20px 32px;
  }
}
.return-to-shipping {
  display: block;
  color: $navy-blue;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  margin-top: 16px;
}
