@import '@styles/variables';
@import 'bootstrap/scss/mixins/breakpoints';

.cart-info {
  flex-basis: calc(37%);
  flex-grow: 0;
  flex-shrink: 1;
  height: fit-content;
  padding: 0;
  margin-bottom: 0;

  @include media-breakpoint-up(lg) {
    position: sticky;
    top: 20px;
    padding: 24px;
    margin-bottom: 36px;
  }

  &.open {
    .arrow {
      transform: rotate(180deg);

      svg {
        top: -1px !important;
      }
    }
    .cart-content {
      max-height: 1500px;
      transition: max-height 0.5s ease-in-out;
      border-top: 1px solid $vapor;
      padding-bottom: 16px;
    }
  }
  .cart-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease-in-out;
    padding: 0 16px;

    @include media-breakpoint-up(lg) {
      max-height: unset !important;
      padding: 0 !important;
      border-top: none !important;
    }
  }
}
.mobile-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  cursor: pointer;
  font-size: 14px;

  @include media-breakpoint-up(lg) {
    display: none;
  }

  .mobile-toggle {
    display: flex;
    align-items: center;
    gap: 8px;

    svg {
      width: 16px;
      height: 16px;
    }
    .arrow {
      position: relative;
      transition: transform 0.2s ease-in-out;

      svg {
        position: relative;
        top: 2px;
        width: 12px;
        height: 12px;
      }
    }
  }
  .mobile-total {
    font-size: 16px;
    font-weight: 700;
  }
}
.title {
  display: none;
  color: $navy-blue;
  font-size: 24px;
  font-weight: 700;

  @include media-breakpoint-up(lg) {
    display: block;
  }
}
.cart-items {
  margin: 25px auto;
}
